.Windows {
  background-image: url(../public/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 96vh;
  margin: 0;
  padding: 20px 0px 20px 0px;
  width: 100%;
  /* change background-image width to fill screen */
  background-size: 100% 100%;
}

.taskbar {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow :hover {
  cursor: pointer;
}
.icons {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  z-index: 1;
}
.icons img {
  margin: 10px;
  width: 30px;
  height: 30px;
  /* resize the image to fit the start-menu */
  object-fit: cover;
  left: 0;
}
/* on hover on icons img get windows 10 hover effect */
.icons img:hover {
  display: block;
  margin: 10px;
  border-color: #302e2e;
  border-width: 1px;
  filter: brightness(120%);
  border-radius: 1px;
  border-style: solid;

  /* border-radius: 50%; */
  cursor: pointer;
}
/* div that containt images of desktop icons wondows 10 */
.desktop_icons img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  padding: 0;
  margin: 30px 30px 10px 30px;
  z-index: 1;
}
.desktop_icon_title {
  margin: 0px 30px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 13px;
  width: 60px;
  height: 20px;
  color: #ffffff;
  padding: 0;
  z-index: 1;
}
/* on hover on desktop desktop_icons windows10 desktop icon hover effect  */
.desktop_icons img:hover {
  border-color: #302e2e;
  border-width: 1px;
  filter: brightness(110%);
  border-radius: 1px;
  border-style: solid;
  cursor: pointer;
}
.desktop_icon_title :hover {
  margin: 10px;
  border-color: #302e2e;
  border-width: 1px;
  filter: brightness(110%);
  border-radius: 1px;
  border-style: solid;
  cursor: pointer;
}
/* allign all control_center to the right side by side windows 10 */
.control_center {
  margin: 0;
  padding: 0;
  display: flex;
  width: 250px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  z-index: 1;
}

.control_center img {
  margin: 10px;
  width: 30px;
  height: 30px;
  float: right;
  /* resize the image to fit the start-menu */
}
.control_center img:hover {
  border-color: #302e2e;
  filter: brightness(110%);
  border-radius: 1px;
  border-style: solid;
  cursor: pointer;
}

.date_time {
  margin: 10px;
  width: 30px;
  height: 30px;
  float: right;
  /* resize the image to fit the start-menu */
}
.speaker {
  margin: 10px;
  width: 40px;
}

.speaker img {
  margin: 10px;
  width: 20px;
  height: 20px;
  /* resize the image to fit the start-menu */
}
.speaker img:hover {
  border-color: #302e2e;
  filter: brightness(110%);
  border-radius: 1px;
  border-style: solid;
  cursor: pointer;
}
.date_time:hover {
  border-color: #302e2e;
  filter: brightness(110%);
  border-radius: 1px;
  border-style: solid;
  cursor: pointer;
}
.start_menu {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 550px;
  background-color: #000000;
  padding: 0;
  z-index: 1;
}

.start_hover img:hover {
  width: 500px;
  display: block;
}
.start_menu_top {
  background-color: rgb(62, 60, 60);
  padding: 5px;
  display: flex;
  border-radius: 0.5px;
  border-color: grey;
  border-style: inherit;
  height: 180px;
  width: 180px;
}
.start_menu_top img {
  width: 90px;
  height: 90px;
  margin: 20;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.Search input {
  /* search input like cartona taskbar */
  background-color: #201e1e;
  border: 1px solid #000000;
  border-radius: 0.5px;
  border-color: grey;
  border-style: inherit;
  color: #ffffff;
  padding: 5px;
  margin: 10px;
  width: 150px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.folder_window {
  position: absolute;
  border-radius: 2px;
  border-style: solide;
  border-width: 20px;
  border-color: black;
  /* display: flex; */
  display: none;
  flex-direction: column;
  width: 800px;
  height: 600px;
  background-color: white;
  padding: 0;
  z-index: 1;
}
.top_of_window {
  display: inline-table;
  width: 800px;
  height: 30px;
  background-color: #0077d7;
  z-index: 1;
  overflow: auto;
  padding: 0;
}
.top_of_windowR {
  display: inline-table;
  width: 800px;
  height: 30px;
  background-color: #0077d7;
  z-index: 1;
  overflow: auto;
  padding: 0;
}
.under_top_of_window {
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  align-items: center;
  display: flex;
  bottom: 0;
  width: 799px;
  height: 25px;
  /* background-color: red; */
  padding: 0;
}

.close_button {
  float: right;
  background-color: #0077d7;
  height: 30px;
  z-index: 1;
  right: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50%;
  border-style: solide;
  border-width: 20px;
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 1; */
}
.bigger_reduce {
  background-color: #0077d7;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  z-index: 1;
  right: 0;
  /* padding: 50%;
  background-color: red;
  border-style: solide;
  border-width: 20px;
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 1; */
}
.close_button:hover {
  background-color: red;
  filter: brightness(110%);
}
.bigger_reduce:hover {
  filter: brightness(110%);
}
.window_title {
  border-radius: 5px;
  float: left;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 120px;
  height: 30px;
  z-index: 1;
  padding-left: 10px;
}
.window_title img {
  margin: 10px 10px 10px 0px;
  width: 20px;
  height: 20px;
  z-index: 1;
  padding: 0;
}
.window_title p {
  color: white;
  margin: 0;
  padding: 0;
  z-index: 1;
  padding: 0;
}
.lockscreen {
  position: absolute;
  background-image: url(../public/images/lock_screen_background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  /* padding: 2px 2px 2px 2px; */
  width: 100%;
  z-index: 2;
  /* change background-image width to fill screen */
  background-size: 100% 100%;
}
.lockscreen_date {
  margin: 20px;
  bottom: 0;
  width: 30%;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  color: white;
  font-size: 40px;
  font-family: "Segoe UI Light";
  /* text-align: center; */
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
}
.window_menu_titles p {
  border-radius: 5px;
  float: left;
  display: flex;
  align-items: center;
  width: 20;
  height: 30px;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.window_menu_titles p:hover {
  border: 0.1px solid darkgray;
  border-bottom: none;
  width: 20;
  height: 30px;
  cursor: pointer;
  border-color: darkgray;
  filter: brightness(110%);
}
.Quick_access {
  align-items: center;

  border-top-left-radius: none;
  border: 0.1px solid darkgray;
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;
  padding: 0;
  z-index: 1;
}
.Quick_access p {
  margin: 5;
  padding: 0;
  z-index: 1;
  padding: 0;
}

.Resumes_en {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 60%;
  display: none;
  flex-direction: row;
}
.Resumes_fr {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 60%;
  display: none;
}
.Resumes_embed {
  position: absolute;
  margin: 0;
  padding: 0;
  /* border: 5px solid orangered; */
  width: 100%;
  overflow: auto;
  height: 90vh;
  /* display: none; */
}
